TF_Content: |-
  #!/bin/sh

  terraform init
  terraform apply --auto-approve
TF_Repo:
  key: ballot
  title: BhhavyaRSureka/ballot
  owner: BhhavyaRSureka
  default_branch: main
  id: 543095366
TF_Branch: main
TF_Git_path: ''
TF_Uninstall: |-
  #!/bin/sh
  123
  abc
  terraform destroy
lastUpdatedBy: Bhhavya Sureka
lastUpdatedOn: 2022-10-03T07:00:37.761Z
